<nav class="navbar navbar-light bg-dark navbar-expand-lg navbar-dark nav">
    <div class="container-fluid d-flex">
        <a class="nav-link text-light fs-5" href="{% url 'delivery:home' %}">Fast Parcel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="d-flex navbar-nav">
                <a class="nav-link text-light" aria-current="page" href="{% url 'customer_app:customer' %}">Customer</a>
                <a class="nav-link text-light" href="{% url 'courier_app:courier' %}">Courier</a>
            </div>
        </div>
        {% if user != AnonymousUser %}
        <p class="text-light mx-2 my-2">{{user}}</p>
        {% endif %}
        <a class="nav-link text-light btn btn-danger" href="{% url 'auth:logout' %}">Logout</a>
    </div>
</nav>